*{
	margin: 0;
	padding: 0;
}

.header{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 55px;
	z-index: 99;
	max-width: 1250px;
	width: 100%;
	

}
.banner {
	
	padding-top: 450px;
	overflow: hidden;
	text-align: center;
	display: flex;
	background: url('img/bg-header.png') no-repeat center top;
	background-size: cover;
	position: relative;
	margin-bottom: 55px;
}

.wrapper{
	
	/*height: 500px;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	max-width: 1250px;
	width: 100%;
	height: auto;
	padding: 0 45px;
}

.footer{
	width: 1200px;
	margin: 0 auto;
}

.content{
	width: 100%;
	margin: 0 auto;
}

/*************HEADER*************/

/*Блок 1 - Телефон*/
header {

	left: 0;
	right: 0;
	z-index: 99;
}

header .tel{
	position: absolute;
	top: 200px;
	right: 18px;
}

header .tel p{
	color: #fff;
	font-size: 18px;
}

header .tel .number{
	font-size: 26px;
}

header .tel .number span{
	font-size: 48px;
	vertical-align: text-top;
	line-height: 42px;
}

/*Конец блока 1*/

/*Блок 2 - Меню*/

header .menuframe{
	width: 960px;
	margin: 0 auto;
}

header .menuframe ul{
	text-align: center;
	background: url('img/backmenu.png') no-repeat 50% 50%;
	background-size: cover;
}

header .menuframe ul li{
	display: inline-block;
	padding: 10px 39.9px;
	margin: 0-2px;
}

header .menuframe ul li a{
	color: #fff;
	text-transform:  uppercase;
	text-decoration: none;
	font-size: 19;
}
	
header .menuframe ul li:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

/*Конец блока 2*/

/*********Конец HEADER**********/

/************WRAPPER************/

/*Блок 3 - Tripplebox*/
.sec-list {
	display: flex;
	text-align: left;
	margin: 0 -20px;

	
}
.sec-list_item {
	padding: 0 15px;
	width: 330px;
	height: 66px;
}
.wrapper .tripplebox{
	margin: 0 auto;
	width: 950px;
	height: 50px;
	margin-bottom: 50px;
}

.textbox{
	margin-left: 115px;
}

.textbox .nije{
	margin-top: 11px;
}

.wrapper .tripplebox .project{
	
	margin-right: 115px;
	width: 240px;
	float: left;
	

}

.wrapper .tripplebox .produc{
	
	margin-right: 115px;
	width: 240px;
	float: left;	
	
}
.wrapper .tripplebox .montag{

	width: 240px;
	float: left;
	
	
	
}

/*Конец блока 3*/

/*Блок 4 - MainFrame*/
.hr {
	height: 1px;
	background-color: #e6e6e6;
	/*margin-top: 20px;*/
}
.hr2 {
	height: 1px;
	background-color: #e6e6e6;
	
	margin-bottom: 20px;
}

.wrapper .mainframe{
	margin: 0 auto;
	height: auto;
	max-width: 100%;
	padding-left: 80px;
	padding-right: 90px;
	display: flex;
	
	
}
.wrapper .mainframe .link-list {
	  
	height: auto;

	 margin: 0 auto;
	width: 100%;
	display: inline-flex;
	position: relative;
	float:left;
/*padding-bottom: 20px;*/
	    display: flex;
    align-items: flex-start;

}

.spis1 {
	
	margin-right: 80px;
	display: block;
	height: 150px;
	/*width: 150px;*/
}

.wrapper .mainframe .leftframe{
	
display: flex;
align-items: flex-start;
width: 40%;
 
    flex: 1;
	
}

.leftframe-wrap {
	    
	    margin: 0 auto;
	margin-right: 30px;
	margin-left: 30px;
}
.wrapper .mainframe .leftframe .razrab{
	margin-top: 7px;
	 margin: 0 auto;
}

.wrapper .mainframe .leftframe .online{
	 margin: 0 auto;
	margin-top: 30px;
}

.wrapper .mainframe .leftframe .online .ucan{
	 margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 8px;
}

.wrapper .mainframe .leftframe .online .onbutton{
	 margin: 0 auto;
	width: 233px;
	height: 41px;
}

 

.wrapper .mainframe .rightframe {
	
	float: left;
	width: 60%;

	
}

 .wrapper .mainframe .rightframe  ul{
	list-style: none;
}
.link-list  ul{
	list-style: none;
}

.link-list ul li a{
	color: #11adc4;
	font-family: "MyriadProRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	text-decoration: underline;
}
 .wrapper.mainframe .rightframe ul li a{
	color: #11adc4;
	font-family: "MyriadProRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	text-decoration: underline;
}



/*Конец блока 4*/

/*Блок 5 - Наши проекты*/
.wrap-our {
	margin-left: 120px;
	margin-right: 120px;
	
}
.wrap-our_two {
 height: auto;
	position: relative;
	 width: 100%;
    margin: 0 auto;

    float: left;
    display: flex;
    align-items: flex-start;
}

.wrapper .ourproj{
	
	margin: 0 auto;

	margin-bottom: 20px;
	max-width: 100%;
    height: auto;
}

.wrapper .ourproj .fourslide{
	    position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
	height: auto;
}
.wrapper .ourproj .fourslide .text {
	height: auto;
}

.wrapper .ourproj .fourslide .slick-arrow{
	position: absolute;
	top: 20%;
	margin-top: -11px;
	text-indent: -99999px;
	z-index: 5;
}

.wrapper .ourproj .fourslide .slick-prev{
	background: url('img/arrow.png') no-repeat 50% 50%;
	width: 45px;
	height: 45px;
	line-height: 25px;
	margin-left: 15px;
	left: -59px;
	top: 35px;
	border: none;
}

.wrapper .ourproj .fourslide .slick-next{
	transform: rotate(180deg);
	background: url('img/arrow.png') no-repeat 50% 50%;
	width: 45px;
	height: 45px;
	right: -43px;
	top: 35px;
	border: none;
}

.wrapper .ourproj .fourslide .buildpic{
	margin-bottom: 11px;
}

/*Конец блока 5*/

/********Конец WRAPPER*******/

/***********FOOTER***********/

/*Блок 6 - Подменю*/
 .footer {
	max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
 

}
  .footer-wrap {
	flex-direction: column;
	margin: 0 auto;
	display: flex;
	margin-left: 120px;
    margin-right: 120px;

}

.undermenu{
	
	

 width: 100%;
 display: flex;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;

}

 .undermenu ul li{
	display: inline-block;
	padding: 5px;
	margin: 0-2px;
}

 .undermenu ul li a{
	font-family: "MyriadProRegular";
	color: #00a7c0;
	text-transform:  uppercase;
	text-decoration: none;
	font-size: 12px;
	line-height: 24px;
}

/*Конец блока 6*/

/*Блок 7 - Последние штрихи*/

 .tripplecopy{
	font-family: "MyriadProRegular";
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 40px;

}
.tripplecopy .tripp {
display: flex;
	
	width: 80%;
}

 .tripplecopy .finding{
	
	height: 150px;
    align-items: flex-start;
    flex: 1;
    display: flex;
    margin-top: 25px;
  
}

.wrap-finding {
	width: 40%;
    
    margin-right: 70px;
    float: right;
    
}

.tripplecopy .working{
	width: 40%;
	
	margin-right: 30px;
	

}

 .tripplecopy .info{
	
	float: left;
	
	
}

/*Конец блока 7*/

/********Конец FOOTER********/





@media (max-height: 860px) {
	
	
	
}



@media (max-width: 1199px) {

.wrapper{
	
	padding: 0 20px;
}
	.wrap-our {
	margin-left: 40px;
	margin-right: 40px;
	 
}

.wrapper .mainframe{
	
	padding-left: 10px;
	padding-right: 10px;
	
	}
	.footer {
		padding: 0 20px;
	}
	.footer-wrap {
	
	margin: 0 auto;
	
	margin-left: 40px;
    margin-right: 40px;

}   
	
}
	
	
@media (min-width: 992px) {
	
}

@media (max-width: 991px) {
	
	.banner {
		height: auto;
}
.wrapper{
	
	
	
}
.wrapper .mainframe{
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	
	}
/*.wrap-hr1 {
	display: block;
	margin-top: 360px;
	
	width: 750px;
	height: 20px;
}*/
.hr1 {
	height: 1px;
	   
	background-color: #e6e6e6;
	
}
/*.hr2 {
	width: 650px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
}*/

.wrapper .tripplebox {
	margin: 0 auto;
	width: 960px;
	height: 60px;
	margin-bottom: 30px;
	display: flex;
}
.sec-list {
	margin: 0 -10px;
	}
.sec-list_item {
	width: 250px;
	padding: 0 10px;
	max-width: 50%;
	margin: 0 auto 30px;
	}
	
	.wrapper .mainframe .rightframe {
	
	display: block;
	float: left;
	width: auto;
	
}
.wrapper .mainframe .link-list {
	  
	margin-bottom: 20px;
	height: 150px;


}
.spis1 {
	
	margin-right: 20px;
	display: block;
	height: 150px;
	float: left;
	/*width: 150px;*/
}
.wrapper .mainframe .leftframe{
	height:auto;
	width: 100%;
	align-items: center;
	margin-bottom: 40px;
	margin-left: 170px;
		     
    
	}


.wrapper .mainframe .leftframe .online {
	    margin-top: 10px;
	}

.wrapper .ourproj{
	width: 960px;
	height: 385px;
	margin: 0 auto;
	
	margin-bottom: 40px;
}
.ucan {
	display: none;
}
.wrapper .mainframe .leftframe .razrab{
	margin-top: 7px;
	line-height: 9px;
}
.merida {
    font-family: "MyriadProRegular";
   
}

.wrapper .ourproj .fourslide{
	    position: relative;
	margin-top: 25px;
	margin-bottom: 25px;

}

	.wrap-our {
		
	margin-left: 20px;
	margin-right: 20px;
	
}
.wrap-our_two {
 height: auto;
	position: relative;
	 width: 100%;
    margin: 0 auto;
}
	    


	 .footer-wrap {
	
	margin: 0 auto;
	margin-left: 10px;
    margin-right: 10px;

}   

 
}





@media (max-width: 767px) {
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		height: 1350px;
	} 

	.wrapper .mainframe .leftframe {
     width: auto; 
	}
	
	.wrapper .mainframe .link-list {
    height: 150px;
    display: flex;
    margin-bottom: 20px;
}
.wrap-our_two {
    height: auto;
    position: relative;
    width: auto;
   
  
    display: block;
    
}
	.banner  {
		min-height: 1px;
		height: auto;
		padding: 400px 0 0px;
	}
.wrapper .tripplebox {
	margin: 0 auto;
	width: 250px;
	height: 60px;
	margin-bottom: 30px;
	margin-left: 10px;
	float: left;
}
.sec-list {
		margin: 0 -10px;
		display: block;
	}
	.sec-list_item {
	padding: 0 5px;
	margin: 0 auto 30px;
    max-width: 420px;
	}

.wrap-our_two {
 height: auto;
 display: block;
	position: relative;
	 width: 100%;
    }


/*.wrapper .mainframe .leftframe .online {
	    margin-top: 50px;
	    align-items: center;
	    margin-bottom: 50px;
}
.link-list {
	display: block;
	height: 150px;
	width: 600px;
    margin-top: 5px;
    margin-left: 18px;
}*/

}

@media (max-width: 621px) {
.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		height: 1450px;
	} 
	.wrapper .mainframe .link-list {
    height: auto;
    display: flex;
     width: auto;
     margin-bottom: 20px;
}
.spis1 {
  
    display: block;
    height: 150px;
    width: auto;
}


.wrap-finding {
	width: 40%;
    
    margin-right: 20px;
    float: right;
    
}

}

@media (max-width: 564px) {
.wrapper {
		
		height: 1800px;
	} 
.wrapper .mainframe .leftframe {
    height: auto;
    width: auto;
    float: left;
    display: block;
margin-left: 0px;
margin-top: 220px;
margin-bottom: 20px;
}

.leftframe-wrap {
    margin: 0 auto;
   
}

.tripplecopy{
	
	display: block;
	height: auto;
	
	padding-bottom: 40px;


}
.tripplecopy .finding {
     height: 80px;
   
}
 .tripplecopy .tripp {
display: flex;
width: auto;
	
}
.tripplecopy .working {
    
    float: right;
    
}
 .info {
    float: left;
    display: block;
}


}	


@media (max-width: 479px) {
.wrapper {
	
		height: 2100px;
	} 
.wrapper .tripplebox {
	margin: 0 auto;
	width: 960px;
	height: 60px;
	margin-bottom: 30px;
}
	.wrapper .mainframe .link-list {
    height: auto;
    display: block;
     width: auto;

}
.spis1 {
	
	width: 100%;
}
.spis2 {
	
	width: auto;
}
.sec-list {
		margin: 0 -10px;
		display: block;
	}
.sec-list_item {
	padding: 0 10px;
	margin: 0 auto 30px;
    max-width: 420px;
	}
	
.tripplecopy .tripp {
display: block;
width: 100%;

	
}
.tripplecopy .finding {
     height: 60px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.wrap-finding {
    width: 50%;
    margin-right: 20px;
    float: left;
    height: auto;
}
.tripplecopy .working {
   width: 50%;
margin-top: 20px; 
margin-bottom: 20px;
    float: left;
    
}

 .info {
    float: left;
    display: block;
      margin-top: 20px; 

}

}

